body {
  font-family: 'Chilanka', cursive;
  background-image: url("../images/background-2.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%, 100%;
}


.main-section-title {
  font-size: 500%;
  text-align: center;
}

